.size-btn {
    padding: 8px 14px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.size-btn.active {
    border: 2px solid #000;
    background: #f1c40f;
}

.color-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ccc;
}

.color-btn.active {
    border: 3px solid black;
}
